body{
    padding: 0;
    margin: 100;
    height: 100vh;
    text-align: center;
    font-family: 'Arial';
    font-size: 12px;
   
}
.container{
    text-align:center;
    position: absolute;
    left:40%;
    top:10%;
}
.container-1{
    text-align:center;
    width: 200px;
    margin-left:0%;
    background-color: bisque;
    border: 1px solid black;
    height: 150px;
}

.btn-login{
    width: 175px;
    background-color: rgb(231, 224, 224);
    border: 1px solid black;
}

.email{
    width: 175px;
}

.password{
    width: 175px;
}